<% obj.each do |recipe| %>
<table class='table table-striped'>
  <div class='recipe-name'>
    <td><h3><li><%= link_to recipe.name, recipe_path(recipe) %></li></h3></td>
  </div>
<div class='recipe-meta-details'>
    <small>Created by: <%= recipe.user.username %>,
      <%= time_ago_in_words(recipe.created_at) %> ago,
      last updated: <%= time_ago_in_words(recipe.updated_at) %> ago </small>
  </div>
  </li>
<% end %>
</table>