<%= render "layouts/navigation" %>
<div class='center jumbotron'>
<h1> Sabores del Mundo</h1> -
    <h2>Your Handy Recipe Finder </h2>
</div>
<br>
<h3 align='center'> Recipes</h3>
<%= render 'recipes/all', obj: @recipes %>