<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a >Sabores del mundo - Recipe finder </a>
            by <a> Ingrid Fuentes</a>
        </small>
    </footer>
</div>